html {
  scroll-behavior: smooth;
}

body {
  background-image: url(bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  font-weight: 300;
  font-size: 1.6rem;
  height: 200vh;
}

body:after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #f12711;
  background: linear-gradient(to right, #181818, #195eb2);
  z-index: -1;
}

/* classes que se alternam no script,,, algumas dessas classes eu nao consegui colocar no script do botao*/

.bg-dark:after {
  background: linear-gradient(to right, #181818, #195eb2);
  opacity: 0.6;
}

.bg-light:after {
  background: linear-gradient(to right, #ffe641, #e91515);
  opacity: 0.8;
}

.span-light {
  color: #f519b7;
}

.span-dark {
  color: #f519b7;
}

.links-dark {
  width: 155px;
  height: 50px;
  line-height: 56px;
  margin: auto;
  margin-top: 4em;
  background-color: #3879c7;
  border-radius: 20px;
}

.links-light {
  width: 155px;
  height: 50px;
  line-height: 56px;
  margin: auto;
  margin-top: 4em;

  border-radius: 20px;
}

.foto-aleatoria-dark {
  width: 175px;
  height: 175px;
  border-radius: 100%;
  float: left;
  margin-top: 35px;
  margin-left: 15px;
  border: solid 3px #3879c7;
}

.foto-aleatoria-light {
  width: 175px;
  height: 175px;
  border-radius: 100%;
  float: left;
  margin-top: 35px;
  margin-left: 15px;
  border: solid 3px #000000;
}

/*        FIMMM
 classes que se alternam no script */


 
.container-header {
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 80px;
  margin: auto;
  box-shadow: 0 0 1em #00000082;
  justify-content: center;
  align-items: center;
  gap: 120px;
  border-bottom: solid 3px;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.h1-header {
  font-size: 55px;
  font-family: "Koulen", cursive;
}

.links-header {
  width: 155px;
  height: 50px;
  line-height: 56px;
  border-radius: 20px;
}

.pad-img {
  padding-left: 10px;
}

a {
  font-size: 40px;
  align-items: center;
  color: black;
}

.content {
  width: 800px;
  height: 775px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 1em #00000082;
  padding: 1em 2em;
  margin-top: 5em;
}

.transparente-1 {
  height: 300px;
  width: 800px;
  background-color: transparent;
  margin: auto;
  box-shadow: 0 0 1em #00000082;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  align-items: revert;
}

.ptrans {
  font-family: "Koulen", cursive;
  width: 547px;
  font-size: 40px;
  height: 50px;
}

.extra {
  width: 800px;
  height: 340px;
  margin: auto;
  background-color: aliceblue;
  padding: 2em;
  box-shadow: 0 0 1em #00000082;
}

.paragrafos {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  line-height: 27px;
  margin-bottom: 40px;
  text-align: justify;
}

.codigo-fonte {
  font-size: 20px;
}

.margin-text {
  margin-left: 230px;
}

.titulo-h2 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Koulen", cursive;
  margin: 15px 0px;
}

.titulo1 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Koulen", cursive;
  text-align: center;
  margin-bottom: 15px;
}

.imagens-ancoras {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0 0 1em #00000082;
  transition: width 0.75s, height 0.75s;
}

.imagens-ancoras:hover {
  width: 250px;
  height: 250px;
}

.ancoras-de-imagens {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.portfolio {
  height: 400px;
}

.scroll-up {
  background-color: #0000005e;
  border-radius: 100%;
  padding-top: 8px;
  text-align: center;
  display: flex;
  position: sticky;
  bottom: 20px;
  right: 30px;
  float: right;
  width: 80px;
  height: 80px;
  box-shadow: 0 0 1em #00000082;
  color: #f5af19;
  justify-content: center;
  align-items: center;
}

.flecha {
  font-size: 70px;
}

/* TENTATIVA DE ANIMAÇAO // estudar Keyframes e animaçoes depois */

@keyframes neon {
  from{ filter: drop-shadow(0 0 0 var(--cor-neon));}
   
  to {filter: drop-shadow(0 0 20px var(--cor-neon) );
  }
}

@keyframes neon-2 {
  from{ filter: drop-shadow(0 0 0 var(--cor-neon));}
   
  to {filter: drop-shadow(0 0 20px var(--cor-neon) );
  }
}



  .span-light{animation: neon 3s alternate infinite ease-in-out;
    --cor-neon: #f519b7;}

    .foto-aleatoria-light {animation: neon 3s alternate infinite ease-in-out;
      --cor-neon: #000000;}
  
  /*.titulo1, .titulo-h2 {animation: neon 3s alternate infinite ease-in-out;
    --cor-neon: black}    Ficou meio cagado essa animaçao resolvi tirar mas qq coisa eu boto dnv          */



@media (max-width: 500px) {
  .content {
    width: 80%;
    height: 1500px;
    padding: 4%;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .h1-header {
    font-size: 40px;
  }

  .container-header {
    width: 100%;
    align-items: center;
  }

  .transparente-1 {
    width: 80%;
    display: flex;
    padding: 4%;
    flex-direction: column;
    height: 900px;
  }

  .extra {
    width: 80%;
    height: 500px;
    padding: 4%;
    margin-bottom: 2em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .foto-aleatoria-light {
    float: none;
    width: 150px;
    height: 150px;
    align-self: center;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .ptrans {
    font-size: 24px;
    width: auto;
    margin-top: 55px;
  }

  .margin-text {
    margin: 0%;
  }

  .links {
    margin-top: -1px;
  }

  .links-light {
    margin-top: 0;
  }
  .links-dark {
    margin-top: 0;
  }

  .ancoras-de-imagens {
    flex-direction: column;
    align-items: center;
  }

  .imagens-ancoras {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0 0 1em #00000082;
  }
  .imagens-ancoras:hover {
    width: 100px;
    height: 100px;
  }

  .portfolio {
    height: 300px;
  }

  .scroll-up {
    display: none;
  }

  .links-header {
    display: none;
  }

  .h1-header {
    font-size: 50px;
  }
  .wrapper {
    display: none;
  }
}

/** botao dark mode*/
.wrapper {
  text-align: center;
}
.toggle {
  position: relative;
  display: inline-block;
  width: 100px;
  padding: 4px;
  border-radius: 40px;
  margin-left: 1px;
}
.toggle:before,
.toggle:after {
  content: "";
  display: table;
}
.toggle:after {
  clear: both;
}
.toggle-bg {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 100%;
  height: 100%;
  background-color: #c0e6f6;
  border-radius: 40px;
  border: 4px solid #81c0d5;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-radius: 40px;
  z-index: 2;
  opacity: 0;
}
.toggle-switch {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 50px;
  background-color: #f5eb42;
  border: 4px solid #e4c74d;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.toggle-switch-figure {
  position: absolute;
  bottom: -14px;
  left: -50px;
  display: block;
  width: 80px;
  height: 30px;
  border: 8px solid #d4d4d2;
  border-radius: 20px;
  background-color: #fff;
  transform: scale(0.4);
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.toggle-switch-figure:after {
  content: "";
  display: block;
  position: relative;
  top: -65px;
  right: -42px;
  width: 15px;
  height: 15px;
  border: 8px solid #d4d4d2;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(70deg);
  background-color: #fff;
}
.toggle-switch-figure:before {
  content: "";
  display: block;
  position: relative;
  top: -25px;
  right: -10px;
  width: 30px;
  height: 30px;
  border: 8px solid #d4d4d2;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(30deg);
  background-color: #fff;
}
.toggle-switch-figureAlt {
  content: "";
  position: absolute;
  top: 5px;
  left: 2px;
  width: 2px;
  height: 2px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
  box-shadow: 42px -7px 0 -3px #fcfcfc, 75px -10px 0 -3px #fcfcfc,
    54px 4px 0 -4px #fcfcfc, 83px 7px 0 -2px #fcfcfc, 63px 18px 0 -4px #fcfcfc,
    44px 28px 0 -2px #fcfcfc, 78px 23px 0 -3px #fcfcfc;
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: scale(0);
}
.toggle-switch-figureAlt:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 18px;
  width: 7px;
  height: 7px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
}
.toggle-switch-figureAlt:after {
  content: "";
  position: absolute;
  top: 19px;
  left: 15px;
  width: 2px;
  height: 2px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
}
.toggle-input:checked ~ .toggle-switch {
  margin-left: 0;
  border-color: #dee1c5;
  background-color: #fffdf2;
}
.toggle-input:checked ~ .toggle-bg {
  background-color: #484848;
  border-color: #202020;
}
.toggle-input:checked ~ .toggle-switch .toggle-switch-figure {
  margin-left: 40px;
  opacity: 0;
  transform: scale(0.1);
}
.toggle-input:checked ~ .toggle-switch .toggle-switch-figureAlt {
  transform: scale(1);
}
.wrapper {
  text-align: center;
}
.toggle {
  position: relative;
  display: inline-block;
  width: 100px;
  padding: 4px;
  border-radius: 40px;
}
.toggle:before,
.toggle:after {
  content: "";
  display: table;
}
.toggle:after {
  clear: both;
}
.toggle-bg {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 100%;
  height: 100%;
  background-color: #c0e6f6;
  border-radius: 40px;
  border: 4px solid #81c0d5;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-radius: 40px;
  z-index: 2;
  opacity: 0;
}
.toggle-switch {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 50px;
  background-color: #f5eb42;
  border: 4px solid #e4c74d;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.toggle-switch-figure {
  position: absolute;
  bottom: -14px;
  left: -50px;
  display: block;
  width: 80px;
  height: 30px;
  border: 8px solid #d4d4d2;
  border-radius: 20px;
  background-color: #fff;
  transform: scale(0.4);
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.toggle-switch-figure:after {
  content: "";
  display: block;
  position: relative;
  top: -65px;
  right: -42px;
  width: 15px;
  height: 15px;
  border: 8px solid #d4d4d2;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(70deg);
  background-color: #fff;
}
.toggle-switch-figure:before {
  content: "";
  display: block;
  position: relative;
  top: -25px;
  right: -10px;
  width: 30px;
  height: 30px;
  border: 8px solid #d4d4d2;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(30deg);
  background-color: #fff;
}
.toggle-switch-figureAlt {
  content: "";
  position: absolute;
  top: 5px;
  left: 2px;
  width: 2px;
  height: 2px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
  box-shadow: 42px -7px 0 -3px #fcfcfc, 75px -10px 0 -3px #fcfcfc,
    54px 4px 0 -4px #fcfcfc, 83px 7px 0 -2px #fcfcfc, 63px 18px 0 -4px #fcfcfc,
    44px 28px 0 -2px #fcfcfc, 78px 23px 0 -3px #fcfcfc;
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: scale(0);
}
.toggle-switch-figureAlt:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 18px;
  width: 7px;
  height: 7px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
}
.toggle-switch-figureAlt:after {
  content: "";
  position: absolute;
  top: 19px;
  left: 15px;
  width: 2px;
  height: 2px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
}
.toggle-input:checked ~ .toggle-switch {
  margin-left: 0;
  border-color: #dee1c5;
  background-color: #fffdf2;
}
.toggle-input:checked ~ .toggle-bg {
  background-color: #484848;
  border-color: #202020;
}
.toggle-input:checked ~ .toggle-switch .toggle-switch-figure {
  margin-left: 40px;
  opacity: 0;
  transform: scale(0.1);
}
.toggle-input:checked ~ .toggle-switch .toggle-switch-figureAlt {
  transform: scale(1);
}
/* FIM BOTAO*/